<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">GreenGuard 🐾🌿</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Sección de Encabezado -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Tu App Compañera</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sección de Bienvenida -->
  <div class="welcome-section">
    <img src="https://i.postimg.cc/Dzsf8534/RECOMENDACIONES-28.png" alt="GreenGuard Logo" class="welcome-logo">
    <h1 class="welcome-title">🐾GreenGuard 🐾</h1>
    <p class="welcome-description">Tecnología al servicio de tus amigos peludos.</p>
  </div>

  <!-- Información de la Flor -->
  <div class="container">
    <ion-card class="flower-card">
      <ion-card-header class="flower-header">
        <ion-card-title>{{ selectedFlower.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre Científico:</strong> {{ selectedFlower.scientificName }}</p>
        <p><strong>Origen:</strong> {{ selectedFlower.origen }}</p>
        <p><strong>Descripción:</strong> {{ selectedFlower.description }}</p>
        <p><strong>Colores</strong>{{ selectedFlower.colores }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Advertencias -->
    <ion-card *ngIf="selectedWarning" class="warning-card">
      <ion-card-header class="warning-header">
        <ion-card-title>Advertencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Advertencia:</strong> {{ selectedWarning.advertencia }}</p>
        <p><strong>Efectos en humanos:</strong> {{ selectedWarning.efectos.humanos }}</p>
        <p><strong>Efectos en mascotas:</strong> {{ selectedWarning.efectos.mascotas }}</p>
        <p>
          <strong>Nivel de riesgo:</strong><br />
          Humanos: {{ selectedWarning.nivel.humanos1 }}<br />
          Mascotas: {{ selectedWarning.nivel.mascotas2 }}
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Sugerencias -->
    <ion-card *ngIf="selectedSugestion" class="suggestion-card">
      <ion-card-header class="suggestion-header">
        <ion-card-title>Sugerencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Nombre Científico:</strong> {{ selectedSugestion.scientificName }}</p>
        <p><strong>Seguridad:</strong> {{ selectedSugestion.seguridad }} </p>
        <p><strong>Beneficios:</strong> {{ selectedSugestion.beneficios }} </p>
        <p><strong>Descripción:</strong> {{ selectedSugestion.descripcion }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>