<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Acerca de Nostros 😉🙌🏻
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Sección de Introducción -->
  <div class="intro-section">
    <img src="https://i.postimg.cc/brmqDR9Q/about-us.png" alt="Imagen" class="intro-image" />
    <h2 class="intro-title">Conoce un poco más de nosotros</h2>
  </div>

  <!-- Tarjeta: Nuestra Misión -->
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Nuestra Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Brindar a los usuarios una herramienta innovadora y accesible que facilite la identificación de flores, proporcione recomendaciones personalizadas para resaltar su belleza y asegure la seguridad de sus mascotas mediante alertas informativas.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta: Nuestra Visión -->
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Nuestra Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ser la aplicación líder en reconocimiento de flores, conectando a las personas con la naturaleza a través de la tecnología, mientras promovemos el cuidado responsable de las plantas y mascotas.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta: Nuestro Compromiso -->
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title>Nuestro Compromiso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Garantizar una experiencia intuitiva y eficiente que inspire confianza y satisfacción al usuario, ofreciéndole información precisa y herramientas útiles para tomar decisiones informadas en el cuidado y selección de flores.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
