/* Estilo para el encabezado */
ion-header {
  ion-toolbar {
    background-color: #4caf50; /* Cambia el color si lo deseas */
    color: white;
  }
}

/* Sección de introducción */
.intro-section {
  text-align: center;
  margin: 20px auto;
}

.intro-image {
  max-width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.intro-title {
  font-size: 1.8rem;
  color: #2e7d32;
  font-weight: bold;
}

/* Tarjetas de información */
.info-card {
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  background-color: #f1f8e9;
  color: #388e3c;
  font-size: 1.4rem;
  font-weight: bold;
}

ion-card-content p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  text-align: justify;
}

  