<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="intro">
    <img src="https://i.postimg.cc/brmqDR9Q/about-us.png" alt="Imagen" class="intro-image" height="200" width="190">
    <h2 class="intro-text">Conoce un poco más de nosotros</h2>
  </div>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Nuestra Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="mision">
        Brindar a los usuarios una herramienta innovadora y accesible que facilite la identificación de flores, proporcione recomendaciones personalizadas para resaltar su belleza y asegure la seguridad de sus mascotas mediante alertas informativas.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Nuestra Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="vision">
        Ser la aplicación líder en reconocimiento de flores, conectando a las personas con la naturaleza a través de la tecnología, mientras promovemos el cuidado responsable de las plantas y mascotas.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Nuestro Compromiso con el Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="compromiso">
        Garantizar una experiencia intuitiva y eficiente que inspire confianza y satisfacción al usuario, ofreciéndole información precisa y herramientas útiles para tomar decisiones informadas en el cuidado y selección de flores.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>